.popupcontent
    img.image(src=image_url)
    .info
        .vfcContainer
            .views #{views}
            .favourites #{favourites}
            .comments #{comments}
        a.userhref(href=profileurl target="_blank")
            img.buddyicon(src=buddyicon href=profileurl)
        p.title #{title}
        p.ownername #{ownername}
        .location
            each loc in location
                p= loc._content
        if (description.trim())
            .description!= description
        if (tags.length)
            .tags
                each tag in tags
                    p= tag