.popupcontent
    a.photohref(href=photohref)
        img.image(src=photourl)
    .info
        .vfcContainer
            .views
                i(class="fa fa-eye")
                p #{views}
            .favourites
                i(class="fa fa-heart")
                p #{favourites}
            .comments
                i(class="fa fa-comments")
                p #{comments}
        a.userhref(href=profilehref)
            img.buddyicon(src=buddyicon href=profileurl)
        p.title #{title}
        p.ownername #{ownername}
        .location
            each loc in location
                p= loc._content
        if (description.trim())
            .description!= description
        if (tags.length)
            .tags
                i(class="fa fa-tags")
                each tag in tags
                    p= tag