.popupcontent
    a.photohref(href=photohref)
        img.image(src=photourl)
    .info
        .vfcContainer
            .views
                i(class="fa fa-eye")
                p #{views}
            .favourites
                i(class="fa fa-heart")
                p #{favourites}
            .comments
                i(class="fa fa-comments")
                p #{comments}
        a.userhref(href=profilehref)
            img.buddyicon(src=buddyicon href=profileurl)
        p.title= (title) ? title : "Untitled"
        p.ownername #{ownername}
        .location
            each loc in location
                p(onclick=`locationSearch('${loc._content}')`)= loc._content
        .description
            if (description.trim())
                != description
            else
                | No Description
        .tags
            i(class="fa fa-tags")
            if (tags.length)
                each tag in tags
                    p.button(onclick=`tagSearch('${tag}')`)= tag
            else
                p No Tags