.popupcontent
    img.image(src=image_url)
    .info
        p.title #{title}
        a.userhref(href=profileurl target="_blank")
            img.buddyicon(src=buddyicon href=profileurl)
        p.ownername #{ownername}
        p.description #{description}